  .body {
    margin: 0;
    padding: 0;
  }
  
  .row {
    /* border: red 2px solid; */
    width: 100%;
    display:flex;
  }
  
  .column {
    width: 100%;
    float: left;
  }
  
  .left {
    width: 60%;
    /* background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    padding: 40px;
    /* float: left; */
/*     
    border-color: red;
    border-width: 5px; */
  }

  .right {
    width: 40%;
    /* background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    padding: 40px;
    float: left; 

  }

  .label {
    float: left;
    display: block;
    margin-bottom: 9px;
    color: #db2a8e;
    font-weight: bold;
  }

  .formLabel {
    color: #db2a8e;
    font-weight: bold;
  }

  .expensesInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(255, 110, 173, 0.5);
    color: white;
    border-color: #FF9BD1;
    border-width: 1px; 
    }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .expensesUl {
    list-style-type: none;
    padding: 0;
  }
  
  .ul-li {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-color: #FF9BD1;
    border-width: 1px; 
  }
  
  .ul-li-div {
    margin-bottom: 8px;
    font-size: 16px;
    color: #ffffff;
  }
  
  .strongColor {
    color: #db2a8e;
  }

  .h2 {
    color: #FF9BD1;
    padding-bottom: 0px;
    padding-left: 15px;
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .upload-section {
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    text-align: center;
    color: #777;
    border-color: #FF9BD1;
    border-width: 1px; 
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .upload-section p {
    margin: 0;
    font-size: 16px;
  }

  .submit {
    background-color: #d25176;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
  }

  .popupContent {
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: left;

    
    border-color: #FF9BD1;
    border-width: 1px; 
    border-radius: 20px;
  }

  .submitReceipt {
    width: 100%;
    float: left;
    padding-left: 0px;

    margin: 0px;
  }

  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color:aqua;
  }

  .expense-category {
    border: 5px #ac477d solid;
    background-color: #ac477d;
    /* padding: 1.5rem; */
    border-radius: 1rem;
    color: white;
    font-size: large;

    margin-bottom: 0px;
    margin-right: 0.8rem;

    width: 10rem;
    margin-top: 0;
    /* height: 5rem; */

    text-align: center;
    vertical-align: center;
  }

  .expenseprice {
    margin-bottom: 0px;
  }

  .deleteButton {
    color: #ac477d; 
    display: inline-block;
    padding-top: 0px;
    margin-right: 1rem;
    /* padding-right: 0.4rem; */


  }

  .button {
    background-color: #FF9BD1; 
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    
  }

  .recordButton {
    border-radius: 5rem;
    background-color: #D4384D;
    border: black 4px solid;
    outline: #D4384D 3px solid;
    margin-bottom: 1.3rem;

    align-items: left;
    
  }

  /* button after
  


  */


  .button-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* select {
    padding: 8px;
    border-radius: 10px;
    background-color: rgba(255, 110, 173, 0.5);
    color: white;
    border-color: #FF9BD1;
    border-width: 1px;
    width: auto; 
  } */

  .expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem 2rem; */
    padding: 0px 0rem;
    border-radius: 1.5rem;
    border-width: 2px;
  }

  .date {
    color: #FF9BD1;
    font-weight: bold;
    margin-bottom: 0px;
  }

  .expense-info {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0.7rem;
    padding-left: 1.6rem;
    margin-bottom: 0px;
  }

  .view-all-expenses {
    text-decoration: underline;
    color: #FF9BD1;
    cursor: pointer;
    margin-top: 1rem;
    text-align: center;
  }

  .upload-left {
    width: 40%;
    /* border:aqua solid 2px; */
  }

  .upload-middle {
    width: 15%;
  }

  .upload-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .submitAudio {
    margin-top: 10px;
  }


  .img {
    width: 40px;
    height: 40px;
    padding: 5px;
  }

  .h3 {
    font-size: 25px;
    color: #FF9BD1;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: bold;
    text-align: left;
  }

  .h4 {
    font-size: 25px;
    color: white;
    padding-bottom: 15px;
    padding-top: 15px;

    font-weight: bold;
    text-align: center;

  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }