.row {
  width: 100%;
  top:0px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-left {
  width: 40%;
  padding: 20px;
  float: left;
}

.column-right {
  width: 60%;
  padding: 20px;
  float: left; 
}

img {
  border-radius: 50%;
  width: 60%;
  padding: 50px;
  display:block;
  margin:auto;
}

.amount {
  color: black;
}

.category {
  color: black;
}


input, select, .goal-input {
  background-color: transparent;
  color: white;
  padding: 0.4rem 1.5rem;
  border: 2px solid #FF9BD1; 
  border-radius: 0.5rem;
  width: auto;
  display: inline-block;
  margin: 0.5em;
  justify-content: center;
  align-items: center;
  font-size: 16px;

  /* gradient fade effect */
  background-image: radial-gradient(circle, transparent 10%, #FF9BD1 140%);
  background-size: 100% 100%;
  background-position: center;
  transition: background-color 0.5s ease-in-out;
}

input:focus {
  background-image: radial-gradient(circle, transparent 10%, #FF9BD1 120%);
}

.profileSection {
  padding: 30px;
  background-color: #000000;
  border-radius: 8px;
  border-color: #FF9BD1;
  border-width: 2px;
  text-align: left;
  color: #ffffff;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.inline {
  display: flex;
  align-items: center;
}

.delete-button {
  color: #FF9BD1; 
  vertical-align: middle;
  float: right;
  margin-top: 13px;
}